name: Build

on:
  push:
    branches: [main]
  pull_request:

jobs:

  runAction:
    runs-on: ubuntu-latest
    name: Run The Action

    permissions:
      checks: write
      pull-requests: write

    steps:

      - name: Fetch Sources
        uses: actions/checkout@v6

      - name: Run The Action
        id: run-action
        uses: ./
        with:
          plugin-id: "it.czerwinski.intellij.wavefront"
          plugin-version: "1.3.0"
          plugin-verifier-report-path: "${{ github.workspace }}/test-data/build/reports/pluginVerifier"
